{% extends "base.html" %}
{% load i18n %}

{% load guardian_tags %}
{% load static from staticfiles %}

{% block header %}
{% trans "Contests" %}
{% endblock %}

{% block content %}

{% if contest_list %}
<table class="table table-striped table-hover table-sortable">
  <thead>
    <tr>
      <th>{% trans "Contest name" %}</th>
      <th>{% trans "Start time" %}</th>
      <th>{% trans "End time" %}</th>
      <th>{% trans "Active" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for contest in contest_list %}
    {% get_obj_perms request.user for contest as "contest_perms" %}
    {% if "view_contest" in contest_perms %}
    <tr>
      <td><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></td>
      <td>{{ contest.start_time }}</td>
      <td>{{ contest.end_time }}</td>
      <td>{% if contest.is_active %}<img src="{% static "img/icon-yes.gif"%}">{% else %}<img src="{% static "img/icon-no.gif"%}">{% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">{% trans "No contests to show." %}</div>
{% endif %}
{% endblock %}

{% block aside %}
<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'submissions' %}">{% trans "Submissions" %}</a>
  </li>
  <ul class="nav nav-sidebar">
    {% for submission in submissions|slice:":5" %}
    <li>
      <a href="{% url 'submission' submission.id %}">{{ submission.problem.name|slice:'20' }} - <span data-ajax="submission" data-id="{{ submission.id }}">{% if submission.status != submission.JUDGED_STATUS %}{{ submission.get_status_display }}...{% else %}{{ submission.score }}{% endif %}</span></a>
    </li>
    {% endfor %}
  </ul>
</ul>
{% endblock %}
