{% load submission_score_loader %}
{% load i18n %}
{% load guardian_tags %}

{% get_obj_perms user for contest as "contest_perms" %}

{% if "view_contest" in contest_perms %}
<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'contest' contest.pk %}">{% trans "Problems" %}</a>
  </li>
  <ul class="nav nav-sidebar">
    {% for problem in contest.problems.all %}
    <li>
      <a href="{% url 'problem' contest.pk problem.codename %}">{{ problem.name }}</a>
    </li>
    {% endfor %}
  </ul>
</ul>
{% endif %}

<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'contestSubmissions' contest.pk %}">{% trans "Submissions" %}</a>
  </li>
  {% if submissions %}
  <ul class="nav nav-sidebar">
    {% for submission in submissions|slice:":5" %}
    <li>
      <a href="{% url 'submission' submission.id %}">{{ submission.problem.name|slice:'20' }} - {% submission_score_loader submission %}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</ul>

{% if contest.is_printing_available %}
<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'printSourceCode' contest.pk %}">{% trans "Print source code" %}</a>
  </li>
</ul>
{% endif %}

{% if "view_contest" in contest_perms %}
<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'ranking' contest.pk %}" >{% trans "Ranking" %}</a>
  </li>
</ul>
{% endif %}

<ul class="nav nav-sidebar">
  <li class="active">
    <a href="{% url 'questions' contest.id %}">{% trans "Questions" %}</a>
  </li>
  <ul class="nav nav-sidebar">
    {% for question in questions|slice:":5"%}
    <li>
      {% if user not in question.readBy.all and question.is_answered %}
      <a href="{% url 'question' question.contest.id question.id %}"><b>{% if question.problem %}{{ question.problem.codename }}:{% endif %} {{ question.title|slice:'25' }}</b></a>
      {% else %}
      <a href="{% url 'question' question.contest.id question.id %}">{% if question.problem %}{{ question.problem.codename }}:{% endif %} {{ question.title|slice:'25' }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</ul>
