{% extends "base.html" %}

{% load contest_menu %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Zebra</a></li>
  <li><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></li>
  <li class="active">{{ problem.codename }}</li>
</ol>
{% endblock %}

{% block header %}{{ contest.name }} {% endblock %}

{% block content %}

{% if not contest.is_active %}
<div class="alert alert-warning" role="alert">{% trans "Contest is inactive, you cannot send solutions." %}</div>
{% endif %}

{% include "problem_body.html" %}

<div class="btn-group margin-bottom">
{% if contest.is_printing_available %}
<a href="{% url 'printProblem' contest.pk problem.codename %}" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> {% trans "Print" %}</a>
{% else %}
<a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-print"></span> {% trans "Print" %}</a>
{% endif %}
{% if problem.pdf %}
<a href="{% url 'pdfProblem' contest.pk problem.codename %}" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> {% trans "PDF" %}</a>
{% else %}
<a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-file"></span> {% trans "PDF" %}</a>
{% endif %}
</div>

{% if contest.is_active or request.user.is_superuser %}
<a href="submit/" class="btn btn-primary btn-lg btn-block">{% trans "Send solution" %}</a>
{% else %}
<a href="#" class="btn btn-primary btn-lg btn-block" disabled="disabled">{% trans "Send solution" %}</a>
{% endif %}

{% endblock %}

{% block aside %}
{% contest_menu contest request.user %}
{% endblock %}
