{% extends "base.html" %}

{% load contest_menu %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Zebra</a></li>
  <li><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></li>
  <li class="active">{% trans "Ranking" %}</li>
</ol>
{% endblock %}

{% block header %}{% trans "Score ranking for" %} {{ contest.name }} {% endblock %}

{% block content %}
{% if contest.is_freezed %}
<div class="alert alert-info" role="alert">{% trans "The score rankings have been frozen since:"%} {{ contest.freeze_time }}</div>
{% endif %}
{% if empty %}
<div class="alert alert-info" role="alert">{% trans "The score rankings are empty." %}</div>
{% else %}
<div class="checkbox">
  <label>
    <input type="checkbox" id="autorefresh" /> {% trans "Autorefresh every" %} <input type="number" value="5" id="time"> {% trans "seconds" %}.
  </label>
</div>
<table class="table table-striped table-hover table-sortable">
  <thead>
    <tr>
      <th>{% trans "User" %}</th>
      {% for key in problem_list %}
      <th>{{ key }}</th>
      {% endfor %}
      <th>{% trans "Total Score" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in ranking_list.items %}
    <tr>
      {% block ranking_row %}
      <td>{{ value.first_name }} {{ value.last_name }}</td>
      {% for problem in problem_list %}
      {% for key, value in value.problems.items %}
      {% if key == problem %}
      <td>{{ value.score }}</td>
      {% endif %}
      {% endfor %}
      {% endfor %}
      <td>{{ value.score }}</td>
      {% endblock %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function refreshPage() {
    if($("#autorefresh").attr("checked")) {
      var time = parseInt($("#time").val());
      setTimeout(function(){
        location.reload();
      }, time*1000);
    }
  }
  $(document).ready(function(){
    refreshPage();
    $("#autorefresh").click(function(){
      refreshPage();
    });
  });
</script>
{% endblock %}

{% block aside %}
{% contest_menu contest request.user %}
{% endblock %}
