{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load contest_menu %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Zebra</a></li>
  <li><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></li>
  <li class="active">{% trans "New question" %} {% trans "in" %} {{ contest.name }}</li>
</ol>
{% endblock %}

{% block header %}{% trans "New question" %} {% trans "in" %} {{ contest.name }} {% endblock %}

{% block content %}

<form enctype="multipart/form-data" action="." method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>
{% endblock %}

{% block aside %}
{% contest_menu contest request.user %}
{% endblock %}
