{% extends "base.html" %}

{% load i18n %}
{% load contest_menu %}

{% block header %}{{ question.contest.name }} {% endblock %}

{% block content %}
<h3>{% trans "Question" %} - {{ question.title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Question" %}:</h3>
  </div>
  <div class="panel-body">
    {{ question.question }}
  </div>
</div>

{% if question.is_answered %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Answer" %}:</h3>
  </div>
  <div class="panel-body">
    {{ question.answer }}
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">
  {% trans "The question has not yet been answered." %}
</div>
{% endif %}
{% endblock %}

{% block aside %}
{% contest_menu question.contest request.user %}
{% endblock %}
