{% load static %}
{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/katex.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <title>{% block title %}Zebra{% endblock %}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 col-sm-2 col-xs-4">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ZEBRA</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-1 col-xs-8 text-center">
            <div class="navbar-brand" id="clock"></div>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-12">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="#">{{ user.first_name }} {{ user.last_name }}</a></li>
                {% else %}
                <li>{% trans "Anonymous" %}</li>
                {% endif %}
                {% if user.is_staff %}
                <li><a href="/admin/" title="Admin panel">{% trans "Admin panel" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="/password_change/" title="Change password">{% trans "Change password" %}</a></li>
                <li><a href="/logout" title="Logout">{% trans "Logout" %}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
          {% block aside %}{% endblock %}
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">

          {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% block breadcrumbs %}{% endblock %}
          <h1 class="page-header">{% block header %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    {% block footer %}&copy; Zebra 2012{% endblock %}


    {% block scripts %}
    {% endblock %}


    <script src="{% static "js/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/get_submission_score.js" %}" type="text/javascript"></script>
    <script src="{% static "js/tableclick.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jqClock.js" %}" type="text/javascript"></script>
    <script src="{% static "js/katex.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/auto-render.min.js" %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <script>
      $(document).ready(function() {
        $(".table-sortable").tablesorter();
        $("#clock").clock({"format": "24", "calendar": "false", "timestamp": {% now "U" %} * 1000});
        $.each(
          document.getElementsByClassName("latex-render"),
          function(index, value){
            renderMathInElement(value, {"delimiters": [
              {left: "$$$", right: "$$$", display: true},
              {left: "$$", right: "$$", display: false},
            ]});
          });
      });
    </script>

  </body>
</html>
